
html,body,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,span,a,img,form{
	margin: 0;
	padding: 0;
	
}
html,body{
	width: 100%;
	height: 200%;
	font-family: "微软雅黑";
}
ul{
	list-style: none;
	
}
a{
	text-decoration: none;
}